@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #d9d9d9;
  font-family: "Sora", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  background: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.38);
  border-radius: 10px;
}

.container h2 {
  font-weight: 680;
  margin: 0 0 20px 0;
  color: #111;
}

.frm-row {
  margin: 0 0 10px 0;
}

.frm-row label {
  margin: 0 0 5px 0;
  display: block;
  text-transform: capitalize;
  color: #111;
  font-weight: 300;
}

.frm-row input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1.5px solid #000080;
  outline: none;
  height: auto;
  margin: 0 0 10px 0;
  font-size: 1.1rem;
  font-weight: 300;
}

.frm-row input:focus {
  transition: outline 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  outline: 2px solid #229ff0;
  outline-offset: -2px;
}

.frm-row input::placeholder {
  color: #b9b9b9;
}

.container a {
  color: #229ff0;
  font-size: 1.2rem;
}

.btns-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background: linear-gradient(to top, #000080, #0000f0);
  padding: 10px;
  color: #f1f1f1;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
fieldset {
  padding: 10px;
  height: 200px;
  overflow-y: scroll;
  display: none;
}
legend {
  margin: 0 0 5px 0;
}

li {
  margin: 20px 0;
}
